* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-links {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.nav > .nav-links > a {
  display: inline-block;
  color: #fff;
  padding: 15px;
  text-decoration: none;
}

.nav > .nav-links > a:hover {
  background-color: #fff;
  color: #4d4d4d;
}

.nav-btn {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav > .nav-links {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #4d4d4d;
    z-index: 1;
  }
  .nav > .nav-links > a {
    display: block;
    border-bottom: 1px solid #fff;
  }
  .nav > .nav-btn {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
