a {
  text-decoration: underline;
}

.nav_logo-link {
  margin-right: 0;
}

.nav_link {
  color: rgba(8, 17, 49, .64);
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Plusjakartadisplay, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  transition: color .2s;
}

.nav_link:hover {
  color: #000;
}

.nav_link.w--current {
  color: #ff5e15;
}

.nav-button {
  color: #081131;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(119, 126, 144, .32);
  border-radius: 80px;
  margin-right: 0;
  padding: 14px 32px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.nav-button:hover {
  color: #f4f4f4;
  background-color: #0568fd;
  border-color: #0568fd;
}

.nav-button.fill {
  color: #fff;
  background-color: #0568fd;
  margin-right: 0;
}

.nav-button.fill:hover {
  color: #777e90;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(119, 126, 144, .32);
}

.nav_component {
  z-index: 111;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px 2.5rem;
  display: block;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.nav_container {
  width: 100%;
  height: 100%;
  max-width: 73.25rem;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  position: relative;
  overflow: visible;
}

.nav_menu-wrapper {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav_logo {
  width: auto;
  height: auto;
  max-width: 70%;
  color: #161616;
}

.nav_link-wrapper {
  position: fixed;
}

.nav_button-wrap {
  justify-content: flex-end;
  display: flex;
}

.header-vector {
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.button-primary {
  color: #fff;
  background-color: #54c0a9;
  border: 1px #0083ff;
  border-radius: 20px;
  margin-right: 0;
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.button-primary:hover {
  color: #777e90;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(119, 126, 144, .32);
}

.page-padding {
  opacity: 1;
  outline-offset: 0px;
  object-fit: fill;
  outline: 3px #081131;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  position: static;
}

.home-header-right, .home-header-left {
  position: relative;
}

.home-header-grid {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  position: static;
}

.paragraph-regular {
  color: rgba(37, 37, 45, .64);
  margin-bottom: 0;
  line-height: 200%;
}

.paragraph-regular.max-width-400 {
  max-width: none;
  color: rgba(37, 37, 45, .8);
}

.paragraph-regular.max-width-500 {
  max-width: 500px;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.section-home-header {
  position: relative;
}

.image {
  position: absolute;
  top: auto;
  bottom: -130px;
  left: -154px;
  right: auto;
}

.button-text {
  color: #777e90;
  margin-left: 32px;
  font-weight: 500;
  text-decoration: none;
}

.home-header-heading {
  z-index: 1;
  justify-content: flex-start;
  align-items: flex-end;
  display: block;
  position: relative;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-vertical.padding-xxhuge {
  padding-top: 8rem;
  padding-bottom: 6rem;
}

.padding-vertical.margin-large {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.padding-vertical.custom-padding {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.container-large {
  width: 100%;
  max-width: 73.25rem;
  margin-left: auto;
  margin-right: auto;
}

.heading-1 {
  z-index: 1;
  color: #00614c;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 74px;
  position: relative;
}

.header-arrow-icon {
  position: absolute;
  top: auto;
  bottom: 28px;
  left: -82px;
  right: auto;
}

.header-right-image {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: static;
  overflow: auto;
}

.margin-bottom.margin-large {
  margin-bottom: 4rem;
}

.margin-bottom.margin-medium {
  margin-bottom: 2rem;
}

.margin-bottom.margin-small {
  margin-bottom: 1rem;
}

.margin-bottom.margin-huge {
  margin-bottom: 6rem;
}

.home-header_component {
  z-index: 1;
  margin-top: 40px;
  position: relative;
}

.home-header-bg {
  z-index: 0;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.button-row {
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-divider {
  width: 2px;
  height: 40px;
  background-color: #e6e8ea;
  margin-left: 80px;
  margin-right: 60px;
}

.body {
  color: #081131;
  font-family: Plusjakartadisplay, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.text-span {
  color: #54c0a9;
}

.button-secondary {
  color: #081131;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #eaeefb;
  border-radius: 80px;
  margin-left: 20px;
  margin-right: 0;
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.button-secondary:hover {
  color: #777e90;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(119, 126, 144, .32);
}

.paragraph {
  color: rgba(37, 37, 45, .8);
  font-size: 14px;
  line-height: 200%;
}

.text-block {
  font-size: 14px;
  font-weight: 500;
}

.text-block-2 {
  color: rgba(37, 37, 45, .64);
  font-size: 12px;
}

.div-block {
  align-items: center;
  display: flex;
}

.testimonial-author_details {
  margin-left: 24px;
}

.section-clients {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 0;
}

.clients_component {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 4rem;
  display: block;
}

.clients-flex-items {
  max-width: none;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.clients_logo {
  width: auto;
  margin-right: 80px;
}

.client-heading {
  max-width: 482px;
  color: rgba(8, 17, 49, .32);
  text-align: center;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.text-block-3 {
  font-size: 18px;
  line-height: 200%;
}

.heading-2 {
  color: #00614c;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 140%;
  display: flex;
}

.how-it-works_component {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 0;
  display: block;
}

.section-how-it-works {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 0;
}

.content-heading {
  max-width: none;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.content-heading.center {
  text-align: center;
}

.content-heading.center.max-width-624 {
  max-width: 624px;
}

.how-it-works-grid {
  grid-column-gap: 6.75rem;
  grid-row-gap: 6.75rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.how-it-wworks_item {
  height: 404px;
  text-align: center;
}

.heading-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.section-features {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 0;
}

.features_component {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 0;
  display: block;
}

.features-grid-1 {
  grid-column-gap: 0px;
  grid-row-gap: 25px;
  grid-template: "Area Area"
  / .5fr;
  grid-auto-columns: .5fr;
  margin-bottom: 140px;
  display: grid;
}

.check-item_text {
  color: rgba(8, 17, 49, .64);
  font-weight: 500;
  line-height: 200%;
}

.footer-text {
  max-width: 186px;
  color: #6978a0;
  font-weight: 500;
  line-height: 200%;
}

.footer_bottom-link {
  color: #6978a0;
  font-weight: 500;
  text-decoration: none;
}

.footer_bottom-link:hover {
  color: rgba(30, 30, 32, .6);
}

.footer-grid {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 2.5fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer {
  background-color: rgba(0, 0, 0, 0);
  border-top: 1px rgba(47, 47, 47, .24);
  margin-top: 40px;
}

.footer-link {
  color: #6978a0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 200%;
  text-decoration: none;
  display: block;
}

.footer-link:hover {
  color: rgba(30, 30, 32, .6);
}

.margin-bottom-2 {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom-2.margin-medium {
  margin-bottom: 2rem;
}

.margin-bottom-2.margin-small {
  margin-bottom: 1rem;
}

.footer-bottom {
  justify-content: space-between;
  margin-top: 54px;
  display: flex;
}

.copy_right-text {
  color: #6978a0;
  font-weight: 500;
}

.heading-4 {
  color: #081131;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 500;
  line-height: 200%;
}

.heading-4:hover {
  color: #0083ff;
}

.footer_bottom-links {
  color: #6978a0;
  font-weight: 700;
}

.footer_component {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: block;
}

.features-check_item {
  align-items: center;
  display: flex;
}

.check-icon {
  margin-right: 10px;
}

.button {
  color: #6978a0;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #d5d8de;
  border-radius: 50px;
  padding: 16px 32px;
  font-weight: 500;
}

.button.black {
  color: #081131;
}

.features-grid-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template: ". Area"
  / 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 0;
  display: grid;
}

.section-study {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 0;
}

.study_component {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 0;
  display: block;
}

.study-flex {
  margin-top: 60px;
  display: flex;
}

.div-block-4 {
  height: 312px;
  max-width: 362px;
  border: 1px solid rgba(0, 131, 255, .24);
  border-radius: 24px;
  margin-right: 20px;
  padding: 30px;
  box-shadow: 1px 1px 32px 8px rgba(0, 131, 255, .06);
}

.heading-5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.study-item-subtitle {
  color: #0083ff;
  margin-top: 8px;
}

.study-items-content {
  align-items: center;
  display: flex;
}

.study-item-title-wrapper {
  margin-left: 16px;
}

.margin-top.margin-medium {
  margin-top: 2rem;
}

.div-block-4-copy {
  height: 376px;
  max-width: 362px;
  height: 280px;
  max-width: 362px;
  border: 1px solid rgba(0, 131, 255, .24);
  border-radius: 24px;
  margin-right: 20px;
  padding: 30px;
  box-shadow: 1px 1px 32px 8px rgba(0, 131, 255, .06);
}

.item2 {
  height: 376px;
  max-width: 362px;
  border: 1px solid rgba(0, 131, 255, .24);
  border-radius: 24px;
  margin-right: 20px;
  padding: 30px;
  box-shadow: 1px 1px 32px 8px rgba(0, 131, 255, .06);
}

.study-flex-copy {
  margin-top: 24px;
  display: flex;
}

.item4 {
  height: 280px;
  max-width: 362px;
  border: 1px solid rgba(0, 131, 255, .24);
  border-radius: 24px;
  margin-top: -64px;
  margin-right: 20px;
  padding: 30px;
  box-shadow: 1px 1px 32px 8px rgba(0, 131, 255, .06);
}

.item5 {
  height: 216px;
  max-width: 362px;
  border: 1px solid rgba(0, 131, 255, .24);
  border-radius: 24px;
  margin-right: 20px;
  padding: 30px;
  box-shadow: 1px 1px 32px 8px rgba(0, 131, 255, .06);
}

.item6 {
  height: 312px;
  max-width: 362px;
  border: 1px solid rgba(0, 131, 255, .24);
  border-radius: 24px;
  margin-top: -94px;
  margin-right: 20px;
  padding: 30px;
  box-shadow: 1px 1px 32px 8px rgba(0, 131, 255, .06);
}

.study-button-bottom {
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  display: flex;
}

.section-faq {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 0;
}

.faq_component {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 0;
  display: block;
}

.accordion-bottom-wrap {
  width: 100%;
  border-top: 1px #000;
  padding-top: 0;
  padding-bottom: 0;
}

.accordion-top-icon-wrap {
  width: 17px;
  height: 17px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.accordion {
  width: auto;
  max-width: 742px;
  cursor: pointer;
  border: 1px solid rgba(105, 120, 160, .32);
  border-radius: 16px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
}

.accordion-top-icon {
  justify-content: center;
  align-items: center;
  margin-right: -16px;
  padding: 16px;
  position: relative;
}

.accordion-wrap {
  width: 100%;
  min-height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.accordion-divider {
  height: 0;
  border-top: 1px solid #202020;
}

.accordion-bottom-text {
  width: 100%;
  max-width: none;
  color: rgba(37, 37, 45, .4);
  margin-bottom: 0;
  font-weight: 500;
  line-height: 200%;
}

.accordion-icon-stripe-1 {
  width: 2px;
  height: 100%;
  background-color: #6978a0;
}

.accordion-top {
  width: 100%;
  opacity: 1;
  align-items: center;
  display: flex;
}

.accordion-top:hover {
  opacity: .64;
  color: #0083ff;
}

.accordion-icon-stripe-2 {
  width: 100%;
  height: 2px;
  background-color: #6978a0;
  position: absolute;
}

.accordion-top-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.accordion-bottom {
  width: 100%;
  perspective-origin: 50% 0;
  transform-origin: 50% 0;
  border-top: 1px #000;
  overflow: hidden;
}

.accordion-top-wrap {
  flex: 1;
  padding-top: 16px;
  padding-bottom: 16px;
}

.heading-4-copy {
  color: #081131;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.section-cta {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 0;
}

.cta_component {
  max-width: 898px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  display: block;
}

.text-span-2 {
  color: #0083ff;
}

.nav-button-row {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.faq-button-row {
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading-6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.testimonial-text {
  color: rgba(37, 37, 45, .8);
  font-size: 14px;
  line-height: 200%;
}

.testimonial-men-details {
  align-items: center;
  display: flex;
}

.testimonial-title {
  font-size: 14px;
  font-weight: 500;
}

.testimonial-subtitle {
  color: rgba(37, 37, 45, .64);
  font-size: 12px;
}

.client-heading-text {
  font-size: 18px;
  line-height: 200%;
}

.study-item1 {
  height: 312px;
  max-width: 362px;
  border: 1px solid rgba(0, 131, 255, .24);
  border-radius: 24px;
  margin-right: 20px;
  padding: 30px;
  box-shadow: 1px 1px 32px 8px rgba(0, 131, 255, .06);
}

.study-item2 {
  height: 376px;
  max-width: 362px;
  border: 1px solid rgba(0, 131, 255, .24);
  border-radius: 24px;
  margin-right: 20px;
  padding: 30px;
  box-shadow: 1px 1px 32px 8px rgba(0, 131, 255, .06);
}

.study-item3 {
  height: 280px;
  max-width: 362px;
  border: 1px solid rgba(0, 131, 255, .24);
  border-radius: 24px;
  padding: 30px;
  box-shadow: 1px 1px 32px 8px rgba(0, 131, 255, .06);
}

.study-flex-items2 {
  margin-top: 24px;
  display: flex;
}

.study-item4 {
  height: 280px;
  max-width: 362px;
  border: 1px solid rgba(0, 131, 255, .24);
  border-radius: 24px;
  margin-top: -64px;
  margin-right: 20px;
  padding: 30px;
  box-shadow: 1px 1px 32px 8px rgba(0, 131, 255, .06);
}

.study-item5 {
  height: 216px;
  max-width: 362px;
  border: 1px solid rgba(0, 131, 255, .24);
  border-radius: 24px;
  margin-right: 20px;
  padding: 30px;
  box-shadow: 1px 1px 32px 8px rgba(0, 131, 255, .06);
}

.study-item6 {
  height: 312px;
  max-width: 362px;
  border: 1px solid rgba(0, 131, 255, .24);
  border-radius: 24px;
  margin-top: -94px;
  margin-right: 20px;
  padding: 30px;
  box-shadow: 1px 1px 32px 8px rgba(0, 131, 255, .06);
}

.anim-wrap {
  overflow: hidden;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.grid {
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.navbar-logo-left {
  float: none;
  clear: left;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -webkit-text-fill-color: inherit;
  background-color: #fff;
  background-clip: content-box;
  border-radius: 0;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: inline;
  position: static;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  position: static;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  background-color: rgba(0, 0, 0, 0);
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: static;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.nav-menu-two {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  list-style-type: none;
  display: flex;
  overflow: visible;
}

.nav-link {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-divider-2 {
  width: 1px;
  height: 22px;
  background-color: #e4ebf3;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, .75);
}

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-2:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-2:active {
  background-color: #43464d;
}

.navbar-logo-left-container-2 {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container-2.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper-2 {
  justify-content: space-between;
  align-items: center;
  display: block;
}

.nav-menu-two-2 {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link-2 {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-2:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link-2:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-2 {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle-2 {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle-2:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle-2:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon-2 {
  margin-right: 10px;
}

.nav-dropdown-list-2 {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list-2.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link-2 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link-2:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-divider-3 {
  width: 1px;
  height: 22px;
  background-color: #e4ebf3;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent-2 {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent-2:hover {
  color: rgba(26, 27, 31, .75);
}

.button-primary-3 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-3:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-3:active {
  background-color: #43464d;
}

.navbar-no-shadow {
  background-color: #f7f7f7;
  position: -webkit-sticky;
  position: sticky;
}

.navbar-no-shadow-container {
  z-index: 5;
  width: 100%;
  max-width: 1140px;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: flex;
}

.container-regular {
  width: 100%;
  max-width: 1260px;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.nav-menu {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
  position: static;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.nav-button-wrapper {
  margin-left: 120px;
}

.navbar-logo-center-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.navbar-logo-center-container.shadow-three {
  width: 100%;
  max-width: 1140px;
}

.navbar-wrapper-three {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.navbar-brand-three {
  z-index: 5;
  position: absolute;
}

.nav-menu-wrapper-three {
  width: 100%;
}

.nav-menu-three {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-menu-block {
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.hero-heading-center {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-3 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.centered-heading.margin-bottom-32px {
  margin-bottom: 32px;
}

.hero-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.button-primary-4 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-4:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-4:active {
  background-color: #43464d;
}

.shadow-two {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.features-list {
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.features-wrapper-two {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.features-left {
  max-width: 40%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.features-paragraph {
  margin-bottom: 24px;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  margin-left: 2px;
  display: flex;
}

.features-right {
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: -16px;
  display: flex;
}

.features-block-two {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  display: flex;
}

.features-image-2 {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 16px;
}

.navbar-no-shadow-2 {
  float: none;
  clear: none;
  background-color: #f8f8f8;
  position: static;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.navbar-no-shadow-container-2 {
  z-index: 5;
  width: 100%;
  max-width: 1140px;
  -webkit-text-fill-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  background-clip: padding-box;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: static;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.container-regular-2 {
  width: 100%;
  max-width: 1260px;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper-3 {
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: fixed;
}

.nav-menu-2 {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-link-3 {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-3:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link-3:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link-3[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-3 {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle-3 {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle-3:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle-3:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle-3[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon-3 {
  margin-right: 10px;
}

.nav-dropdown-list-3 {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list-3.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link-3 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link-3:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link-3[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-button-wrapper-2 {
  margin-left: 120px;
}

.button-primary-5 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-5:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-5:active {
  background-color: #43464d;
}

.navbar-logo-left-3 {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-logo-left-container-3 {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container-3.shadow-three {
  width: 100%;
  max-width: 100%;
  -webkit-text-fill-color: inherit;
  background-color: #f8f8f8;
  background-clip: padding-box;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.container-4 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper-4 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu-two-3 {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-divider-4 {
  width: 1px;
  height: 22px;
  background-color: #e4ebf3;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent-3 {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent-3:hover {
  color: rgba(26, 27, 31, .75);
}

.submit-button {
  background-color: #54c0a9;
}

@media screen and (max-width: 991px) {
  .nav_link {
    color: #fff;
    margin-bottom: 0;
  }

  .nav_link:hover {
    color: #0083ff;
  }

  .nav-button {
    border-radius: 12px;
    padding: 18px 24px;
  }

  .nav-button.fill {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .nav_component, .nav_container {
    overflow: visible;
  }

  .menu-button {
    border: 1px solid rgba(150, 160, 181, .15);
    margin-left: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav_menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
    padding-bottom: 0;
  }

  .icon {
    color: #081131;
  }

  .nav_link-wrapper {
    color: #54c0a9;
    background-color: #081131;
  }

  .header-vector {
    top: auto;
    bottom: 0;
    left: auto;
    right: 150px;
  }

  .button-primary {
    padding-left: 24px;
    padding-right: 24px;
  }

  .home-header-grid {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }

  .button-secondary {
    padding-left: 24px;
    padding-right: 24px;
  }

  .section-clients {
    margin-top: 0;
  }

  .clients-flex-items {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .clients_logo {
    margin-right: 0;
  }

  .section-how-it-works {
    margin-top: 0;
  }

  .how-it-works-grid {
    grid-template-columns: 1fr;
  }

  .section-features {
    margin-top: 0;
  }

  .features-grid-1 {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
  }

  .margin-bottom-2.margin-medium {
    position: static;
  }

  .features-grid-2 {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }

  .section-study {
    margin-top: 0;
  }

  .study-flex {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .div-block-4 {
    height: auto;
    max-width: none;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .div-block-4-copy {
    height: auto;
    max-width: none;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .item2 {
    height: auto;
    max-width: none;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .study-flex-copy {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .item4 {
    height: auto;
    max-width: none;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .item5 {
    height: auto;
    max-width: none;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .item6 {
    height: auto;
    max-width: none;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .section-faq, .section-cta {
    margin-top: 0;
  }

  .study-item1, .study-item2 {
    height: auto;
    max-width: none;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .study-item3 {
    height: auto;
    max-width: none;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .study-flex-items2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .study-item4 {
    height: auto;
    max-width: none;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .study-item5 {
    height: auto;
    max-width: none;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .study-item6 {
    height: auto;
    max-width: none;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .navbar-logo-left-container.shadow-three {
    position: static;
  }

  .container {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button-2 {
    padding: 12px;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: 0%;
    overflow: visible;
  }

  .menu-button-2.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .icon-2 {
    -webkit-text-fill-color: inherit;
    background-clip: padding-box;
    position: static;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0%;
  }

  .container-2 {
    max-width: 728px;
  }

  .nav-menu-wrapper-2 {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu-two-2 {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list-2.shadow-three.w--open {
    position: absolute;
  }

  .menu-button-3 {
    padding: 12px;
    transform: translate(0);
  }

  .menu-button-3.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .navbar-no-shadow-container {
    background-color: #f7f7f7;
    position: fixed;
  }

  .container-regular {
    opacity: 1;
    outline-offset: 0px;
    outline: 3px #081131;
  }

  .nav-menu {
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    display: flex;
  }

  .nav-button-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .navbar-wrapper-three {
    justify-content: space-between;
  }

  .navbar-brand-three {
    position: relative;
  }

  .nav-menu-wrapper-three {
    background-color: rgba(0, 0, 0, 0);
    top: 70px;
  }

  .nav-menu-three {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .icon-3 {
    color: #54c0a9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0;
  }

  .container-3 {
    max-width: 728px;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .features-wrapper-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .features-left {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .features-right {
    max-width: 100%;
  }

  .navbar-no-shadow-container-2 {
    position: static;
  }

  .nav-menu-wrapper-3 {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu-2 {
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    display: flex;
  }

  .nav-link-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list-3.shadow-three.w--open {
    position: absolute;
  }

  .nav-button-wrapper-2 {
    width: 100%;
    margin-left: 0;
  }

  .menu-button-4 {
    padding: 12px;
  }

  .menu-button-4.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .container-4 {
    max-width: 728px;
  }

  .nav-menu-two-3 {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }
}

@media screen and (max-width: 767px) {
  .nav_logo-link {
    padding-left: 0;
  }

  .nav-button {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    line-height: 20px;
    display: none;
  }

  .menu-button {
    padding: 12px 14px;
  }

  .nav_menu-wrapper {
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
  }

  .nav_link-wrapper {
    outline-offset: 0px;
    outline: 3px #081131;
    flex: 1;
    align-self: auto;
    display: flex;
  }

  .header-vector {
    width: 380px;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: auto;
  }

  .button-primary {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    line-height: 20px;
  }

  .image {
    width: 410px;
    left: -116px;
  }

  .header-arrow-icon {
    left: -54px;
  }

  .header-right-image {
    position: relative;
  }

  .margin-bottom.margin-huge {
    margin-bottom: 4rem;
  }

  .home-header_component {
    margin-top: 0;
  }

  .button-secondary {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    line-height: 20px;
  }

  .section-clients {
    margin-top: 40px;
  }

  .clients_component {
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .clients-flex-items {
    max-width: none;
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;
  }

  .clients_logo {
    margin-right: 0;
  }

  .how-it-works_component {
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section-how-it-works, .section-features {
    margin-top: 0;
  }

  .features_component {
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer_bottom-right {
    margin-top: 12px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-item {
    text-align: center;
  }

  .footer_component {
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section-study {
    margin-top: 0;
  }

  .study_component {
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section-faq {
    margin-top: 0;
  }

  .faq_component {
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section-cta {
    margin-top: 40px;
  }

  .cta_component {
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-logo-left-container.shadow-three {
    outline-offset: 0px;
    -webkit-text-fill-color: inherit;
    background-clip: border-box;
    outline: 3px #081131;
  }

  .navbar-wrapper {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    position: static;
    overflow: auto;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider-2 {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .icon-2 {
    object-fit: contain;
    position: static;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0%;
    overflow: visible;
  }

  .image-2 {
    opacity: 1;
  }

  .navbar-logo-left-container-2 {
    max-width: 100%;
  }

  .navbar-brand-2 {
    padding-left: 0;
  }

  .nav-menu-two-2 {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown-2 {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list-2.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list-2.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list-2.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider-3 {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent-2 {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-11 {
    margin-top: 10px;
  }

  .navbar-no-shadow-container {
    background-color: #f7f7f7;
    position: fixed;
  }

  .nav-menu {
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .navbar-brand-three {
    padding-left: 0;
  }

  .nav-menu-three {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-menu-block {
    flex-direction: column;
  }

  .hero-heading-center, .features-list {
    padding: 60px 15px;
  }

  .navbar-no-shadow-container-2 {
    position: static;
  }

  .navbar-brand-3 {
    padding-left: 0;
  }

  .nav-menu-2 {
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .nav-link-3 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown-3 {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list-3.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list-3.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list-3.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .mobile-margin-top-12 {
    margin-top: 10px;
  }

  .navbar-logo-left-container-3 {
    max-width: 100%;
  }

  .nav-menu-two-3 {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-divider-4 {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent-3 {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }
}

@media screen and (max-width: 479px) {
  .nav_logo-link {
    margin-right: 0;
    padding-left: 0;
  }

  .nav_link {
    width: 100%;
  }

  .nav_component {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .nav_container {
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }

  .menu-button {
    margin-left: 0;
  }

  .nav_menu-wrapper {
    justify-content: space-between;
  }

  .nav_logo {
    margin-right: 0;
  }

  .nav_link-wrapper {
    background-color: #54c0a9;
  }

  .header-vector {
    width: 266px;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: auto;
  }

  .button-primary {
    margin-bottom: 24px;
  }

  .page-padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .paragraph-regular {
    line-height: 30px;
  }

  .padding-vertical.padding-xxhuge {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .heading-1 {
    font-size: 42px;
    line-height: 56px;
  }

  .header-arrow-icon {
    display: none;
  }

  .home-header_component {
    margin-top: 60px;
  }

  .nav-divider {
    margin-left: 20px;
    margin-right: 20px;
    display: none;
  }

  .button-secondary {
    margin-left: 0;
  }

  .clients_component {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .clients-flex-items {
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .clients_logo {
    margin-top: 0;
    margin-right: 0;
  }

  .heading-2 {
    font-size: 34px;
    line-height: 42px;
  }

  .how-it-works_component {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .content-heading {
    text-align: center;
  }

  .heading-3 {
    font-size: 22px;
  }

  .features_component {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .features1_item {
    text-align: center;
  }

  .footer {
    margin-top: 0;
  }

  .footer-bottom {
    text-align: center;
  }

  .heading-4 {
    font-size: 22px;
    line-height: 32px;
  }

  .footer_component {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .features-check_item {
    text-align: center;
    justify-content: center;
  }

  .study_component, .faq_component {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .accordion-bottom-wrap {
    padding-right: 0;
  }

  .accordion.no-margin {
    margin-bottom: 0;
  }

  .accordion-wrap {
    padding-top: 0;
    padding-bottom: 0;
  }

  .heading-4-copy {
    font-size: 28px;
  }

  .cta_component {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .nav-button-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .faq-button-row {
    flex-direction: column;
  }

  .works-image {
    width: 132px;
  }

  .features2_item {
    text-align: center;
  }

  .container {
    max-width: none;
  }

  .navbar-wrapper {
    -webkit-text-fill-color: inherit;
    background-color: rgba(0, 0, 0, 0);
    background-clip: content-box;
    border: 1px #000;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .icon-2 {
    position: static;
    overflow: visible;
  }

  .container-2 {
    max-width: none;
  }

  .nav-menu-two-2, .nav-menu {
    flex-direction: column;
  }

  .nav-button-wrapper {
    width: auto;
  }

  .nav-menu-three {
    flex-direction: column;
  }

  .container-3 {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .features-right {
    margin-bottom: -30px;
  }

  .features-block-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .features-image-2 {
    margin-bottom: 10px;
  }

  .navbar-no-shadow-container-2 {
    position: static;
  }

  .nav-menu-2 {
    flex-direction: column;
  }

  .nav-button-wrapper-2 {
    width: auto;
  }

  .container-4 {
    max-width: none;
  }

  .nav-menu-two-3 {
    flex-direction: column;
  }
}

#w-node-_077318a6-ed93-cb86-0502-54d3e8f6d67c-452c397b, #w-node-c310528f-6f43-383e-a570-01afe6459ab5-452c397b {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: stretch;
}


@font-face {
  font-family: 'Plusjakartadisplay';
  src: url('../fonts/PlusJakartaDisplay-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plusjakartadisplay';
  src: url('../fonts/PlusJakartaDisplay-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plusjakartadisplay';
  src: url('../fonts/PlusJakartaDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Plusjakartadisplay';
  src: url('../fonts/PlusJakartaDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}