.table1 {
  width: 100%;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  text-align: center;
}

.table1 td {
  padding: 0;
}

.section-title {
  font-size: 2em;
  margin: 0.5em 0;
}

.table2 {
  width: 100%;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

.table2 td {
  padding: 1em;
  vertical-align: top;
}

.image-container {
  width: 50%;
  text-align: center;
}

.image-container img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .table2 {
    display: block;
  }

  .table2 td {
    display: block;
    width: 100%;
    padding: 0;
  }

  .image-container {
    width: 100%;
  }
}
