#about-us {
padding: 50px 0;
}

.section-title {
text-align: center;
}

.table-container {
display: flex;
justify-content: center;
}

.table1, .table2 {
width: 100%;
border-collapse: collapse;
}

.table1 td, .table2 td {
padding: 20px;
}

.image-container {
width: 50%;
}

.text-container {
width: 50%;
}

@media screen and (max-width: 768px) {
.table-container {
flex-direction: column;
}
.image-container, .text-container {
width: 100%;
}
}
