/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  background: linear-gradient(to bottom, rgba(18, 0, 82, 0.5), rgba(181, 55, 242, 0.5));
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}


/* Navigation menu */
nav {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  background-color: #333;
}

.topnav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Sections */
section {
  scroll-behavior: smooth;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home {
  background-image: url('images/wallpaper.jpeg');
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
  z-index: -1;
}


#about {
  background-color: #3b5bdb;
}

#services {
  background-color: #120052;
}

#contact {
  background-color: #b537f2;
}
#about, #services, #contact {
  position: relative;
}

#about::before, #services::before, #contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2)); /* dégradé transparent */
  z-index: -1;
}
